asgiref==3.7.2
cached-property==1.5.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==7.1.2
Django==5.0
idna==3.4
lxml==4.9.3
Pillow==10.1.0
pymongo==3.13.0
redis==3.5.3
requests==2.31.0
requests-cache==0.5.2
sqlparse==0.4.4
tqdm==4.66.1
typing_extensions==4.9.0
urllib3==2.0.4
